$vessel: #CBC6BE;
$almond: #D3CAC4;
$chic-taupe: #A89589;
$fortress-grey: #B8B5A5;
$text-dark: #4a4a4a;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;


//RESET & BASE

body {
    background-color: $vessel;
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    color: $text-dark;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    h1 {
        color: $chic-taupe;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

//LAYOUT

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

//COMPONENTES
.product-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 5px rgba(0, 0, 0, 0.05);

    &:hover {
        transform: translate(-5px);
    }

    .product-image{
        height: 250px;
        background-color: $almond;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .product-info {
        padding: 20px;
        text-align: center;

        h3 {
            margin-top: 0;
        }

        .price {
            font-size: 1.2rem;
            font-weight: bold;
            color: $chic-taupe;
            display: block;
            margin: 10px 0;
        }

        .btn {
            background-color: $chic-taupe;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 25px;
            display: inline-block;
            font-weight: bold;
            font-size: 0.9rem;
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

//STYLE para detalles

.product-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.detail-image {
    img {
        width: 100%;
        border-radius: 10px;
    }

    .placeholder {
        width: 100%;
        height: 400px;
        background-color: $almond;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        border-radius: 10px;
    }
}

.detail-info {
    h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
        color: $chic-taupe;
    }

    .category-tag {
        background-color: $vessel;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 2rem;
        font-weight: bold;
        color: $text-dark;
        margin: 20px 0;
    }

    .description {
        line-height: 1.6;
        color: #666;
    }

    .sizes-grid {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .size-input {
        display: none;
    }

    .size-label {
        background: white;
        border: 2px solid $chic-taupe;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 8px;
        transition: all 0.2s;

        &:hover {
            background-color: lighten($chic-taupe, 30%);
        }
    }

    .size-input:checked + .size-label {
        background-color: $chic-taupe;
        color: white;
        box-shadow: 0 4px 10px rgba(168, 149, 137, 0.4); //sombra
        transform: scale(1.05);
    }


    .size-btn {
        background-color: white;
        border: 2px solid $chic-taupe;
        color: $chic-taupe;
        padding: 10px 15px;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.2s;

        &:hover {
            background: $chic-taupe;
            color: white;
        }
    }

    .btn-large {
        width: 100%;
        padding: 18px;
        font-size: 1.1rem;
        margin-top: 25px;
        border: none;
        background-color: $chic-taupe;
        color: white;
        font-weight: 900; //Letra mas gruesa
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 12px;
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: darken($chic-taupe, 10%);
            transform: translateY(-2px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

.cart-container {
    padding: 40px 20px;
    h2 {
        color: $chic-taupe;
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
.cart-table{
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 30px;
}

.cart-header {
    background-color: $chic-taupe;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.cart-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    font-weight: bold;
    align-items: center;
    border-bottom: 1px solid lighten($vessel, 10%);

    &:last-child { border-bottom: none;}
}

.cart-product {
    display: flex;
    align-items: center;
    gap: 15px;

    img, .cart-placeholder {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 5px;
        background-color: $almond;
    }

    p {
        margin: 0;
        font-weight: bold;
        color: $text-dark;
    }
}

.badge {
    background-color: $vessel;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
}

.row.total {
    font-weight: bold;
    color: $chic-taupe;
}

.cart-summary {
    text-align: right;

    h3 {
        font-size: 1.8rem;
        color: $text-dark;
    }
    h3 span {
        color: $chic-taupe;
    }

    .timer-warning {
        color: #d9534f;
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
}

.cart-action {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    .btn-primary {
        background-color: $chic-taupe;
        color: white;
        padding: 15px 30px;
        border-radius: 30px;
        text-decoration: none;
        font-weight: bold;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
        }

        .btn-outline {
            border: 2px solid $chic-taupe;
            color: $chic-taupe;
            padding: 13px 30px;
            border-radius: 30px;
            text-decoration: none;
            font-weight: bold;
            transition: backgroud 0.2s;

            &:hover {
                background-color: lighten($vessel, 15%);
            }
        }
    }
}