{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pequeña Gran Estrella</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Mi Pequeña Gran Estrella</h1>
    </header>
    <div class="container">
        {% for product in products %}
        <article class="product-card">
            <div class="product-image">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <span>Sin Imagen</span>
                {% endif %}
            </div>

            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <span class="price">${{ product.price }}</span>
                <br>
                <a href="#" class="btn">Ver Detalles</a>
            </div>
        </article>
        {% empty %}
            <p>Aún no hay productos cargados en el sistema.</p>
        {% endfor %}
    </div>
</body>
</html>